* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0b0b;
    color: #ffffff;
}

.contact {
    min-height: 100vh;
    padding: 100px 7%;
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title p {
    color: #d99a20;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.title h1 {
    font-size: 42px;
}

.title span {
    color: #e2a928;
}

.line {
    width: 55px;
    height: 2px;
    background: #e2a928;
    margin: 15px auto;
}

.contact-box {
    max-width: 650px;
    margin: auto;
    text-align: center;
    background: #111111;
    padding: 45px;
    border: 1px solid #292929;
    border-radius: 10px;
}

.contact-box h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.contact-box > p {
    color: #aaaaaa;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 35px;
}

.contact-item {
    margin-bottom: 25px;
}

.contact-item h3 {
    color: #e2a928;
    font-size: 14px;
    margin-bottom: 7px;
}

.contact-item a,
.contact-item p {
    color: #999999;
    font-size: 14px;
    text-decoration: none;
}

.contact-item a:hover {
    color: #e2a928;
}

@media (max-width: 600px) {

    .contact {
        padding: 70px 5%;
    }

    .title h1 {
        font-size: 34px;
    }

    .contact-box {
        padding: 30px 20px;
    }
}